---
title: Artemis v0.2.5
blurb: Artemis Version 0.2.5 is out now!
thumbnail: ./imgs/artermis-v0-2-5.jpg
tags: ['Narrative Programming']
tools: ['Unity', 'C#', 'Git', 'Ink', 'Yarn Spinner']
written: 2023-10-3
layout: post
---
<div class="*:object-cover *:w-full">

![Out Now!](/imgs/artermis-v0-2-5.jpg)

</div>

## **Artemis Version 0.2.5 is out now!**

- Saving & Loading 💾 using the new Constellation asset 🌌
- Code samples for getting Artemis to work in tandem with the popular narrative tools, Ink ✒️ and Yarn Spinner! 🧶
- Extensive user documentation that now also dives into the code samples' use of Artemis! 🗒️
- Fixing the Goddess singleton 🌙
- More improvements to the custom editors 🔎
- Fletcher made more versatile ⚒️
- Started work on an Artemis debugging system 📟

As it's been over eight months (wow, really?) since I've last posted about the Unity package, I wanted to give everyone here an update.

![Roomie Duel](/imgs/posts/artemis-0-2-5/roomie-duel.jpg)

Artemis is an ongoing narrative programming tool by myself. For games where the order of who you talk to or what you do is variable, Artemis accesses rules and world state data to give the most appropriate and important delivery. It’s not about the means of delivery, like Ink or Yarn Spinner, but instead about deciding what should be delivered.

![Constellation](/imgs/posts/artemis-0-2-5/constellation.jpg)

I'm very proud of the work I've done on this tool. Outside of the job search (if you're looking for a programmer, btw, I know a guy), my biggest goal right now is make Artemis something useful for other folks, letting them focus on design and writing while Artemis manages a good amount of the backend. I hope folks check it out, and may your aim be true! 🏹

![Rituals Screen Cap](/imgs/posts/artemis-fade-thumbnail.png)

Check out [the repository](https://github.com/nicholas-hoy-champain/Artemis.git) and [user documentation](https://github.com/nicholas-hoy-champain/Artemis/blob/abf82be3b0750d2838887fab7b2f167cbeb8b95b/Artemis_User_Documentation_Version_0.2.5.pdf).

> *Posted originally on [LinkedIn](https://www.linkedin.com/feed/update/urn:li:activity:7115150020546285568/)*