---
title: "Missing Those Places"
blurb: "A little essay about identity, singing to Joel, Spidey, & not knowing when you'll be home."
thumbnail: './imgs/aaron-home-pizza.jpg'
alt: Pizza slice my friend, Aaron Pastor, sent me to indicate he had finally arrived back home in down-state New York.
tags: ['Creative Writing']
tools: []
written: 2030-1-1
---
2025, April 14th. Long Island.

My friend since middle school, Aaron, is sitting across in the kitchen from me. We're both in these chairs that have lost the little dowel rods on their undersides and whose picnic-blanket fabric covering the ineffective cushions were riddled with holes of various sizes. Maybe when these were bought over a decade prior, these seats were comfortable. That day, Aaron and I transition from position to position while we talked because there was no way I could make staying still in those things bareable for long.

Going between the living room and the front of the house; Liam, another friend I grew up with, and my partner are getting increasingly anxious with my partner about getting a move on while the sun's still out. Aaron and I's conversation just kept going, to their bemusement. We're talking about the space. The bend of the kitchen counter was where I would sit to have long conversations with friends and family in the kitchen for hours through the evening while they leaned against cabinet doors or rested their elbows on the other parts of the counter. We're mentioning the various rooms in the house. Aaron always spoke in amazement about how my bedroom was smaller than some prison cells, but with the lofted bed and desk underneath the size wasn't as noticeable as when it was empty.

I had been in MA, living with my partner and her family in a town I knew wasn't rural, but was much more woodsy and sparse of connection than even the concrete suburbs I was used to. I hadn't just been a room with Aaron for the two of us to just talk for a long time. And I didn't know what'd be the next time.

My folks had sold the house, hoping to find someplace cheaper in Western NY where my dad could get by to retirement and focus on taking care of my mom with MS.

It wasn't the life goal, but the place he worked was bought by private equity and laid people off, and he just couldn't find work after that.

I remember the day he was told. He made himself a Long Island iced tea and asked me if I wanted one. I said sure, but not to make mine too strong. It was heavy enough that I felt it until I went to bed.

Liam and my partner's cars were packed with the furniture I had bought for myself since college (a futon bed frame, a memory foam mattress, and a standing desk) up with us to MA. Liam and Aaron were coming up with us, to spend some time with me for my birthday. My parents would be leaving for the last time later the same week. That was the last time I was there.

I knew I wasn't going to miss Long Island tooooo much. The house I grew up in was there, but I had problems feeling like LI was home. It's a car-centric place, and it wasn't too regular that I could expect to get everywhere the way many of my peers could. My dad wouldn't be back from his job in the city until the late evening, and my mom couldn't drive with her MS. I remember someone at my high school offhandedly saying that she felt like I was "homeless," without a sense of belonging. With the exception of some connections like Liam and Aaron, I think she was right.

What I think of as home, much more so, is New York City. My father grew up in the Bronx when he was little. My uncle and my cousin both live in the city, having been there for longer than they haven't.

An old joke I used to have was that I was a "psuedo New Yorker."

It worked on the state and city level. On the state level, I was actually born in Connecticut, though have no memory from it. On the city level, despite having family from or in the city... I grew up on Long Island.

The homesickness for NYC has actually gotten borderline embarrassing. I basically cried the first time I watched Chappel Roan's music video for "The Subway." My most listened to song from last year, "Clueless" by Beach Bunny literally has the lines:

> My best friend's in New York City.
> She is beauty. She is grace.
> And I wonder if we'll ever live in the same place.

I never thought about getting a tattoo but now I want one of a Black & White Cookie on my forearm.